@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Roboto&display=swap");
header {
  width: 100%;
  height: 100vh;
  background-image: url(../photos/header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin: 0 40px;
  align-items: center;
}
header .container .logo {
  color: rgb(255, 255, 255);
  font-size: 39px;
  font-weight: 900;
  align-self: flex-start;
}
header .container .navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: flex-start;
  align-self: flex-end;
  color: rgb(255, 255, 255);
  list-style-type: none;
}
@media (max-width: 768px) {
  header .container .navigation {
    flex-direction: column;
    align-items: flex-end;
  }
}
header .container .navigation__item {
  margin: 0 10px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container .navigation__item {
    line-height: 1.5;
  }
}
header .container .navigation__item--open {
  font-size: 20px;
  visibility: hidden;
}
@media (max-width: 768px) {
  header .container .navigation__item--open {
    line-height: 40px;
    visibility: visible;
  }
}
header .container .navigation__item:hover a {
  color: rgb(248, 223, 1);
}
header .container .navigation__item--hidden-mobile {
  visibility: visible;
}
@media (max-width: 768px) {
  header .container .navigation__item--hidden-mobile {
    visibility: hidden;
  }
}
header .container .navigation__item--visible-mobile {
  visibility: visible;
}
header .main-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
  align-items: center;
  text-align: center;
  margin: 0 25%;
  color: rgb(255, 255, 255);
}
header .main-banner span {
  color: rgb(248, 223, 1);
}
header .main-banner .btn--learn-more {
  background: rgba(0, 0, 0, 0.3);
  outline: 2px solid rgb(255, 255, 255);
  margin: 15px;
}
header .main-banner .btn--learn-more:hover {
  background: rgba(0, 0, 0, 0);
}

article.about .skills-box .slide {
  width: 30%;
}
article.about .skills-box .slide:nth-child(1) .slide__value {
  background-color: #d2b5de;
  left: calc(60% - 25px);
}
article.about .skills-box .slide:nth-child(1) .slide__value::after {
  border-color: #d2b5de transparent;
}
article.about .skills-box .slide:nth-child(2) .slide__value {
  background-color: #a4acd0;
  left: calc(80% - 25px);
}
article.about .skills-box .slide:nth-child(2) .slide__value::after {
  border-color: #a4acd0 transparent;
}
article.about .skills-box .slide:nth-child(3) .slide__value {
  background-color: #a1d1d1;
  left: calc(50% - 25px);
}
article.about .skills-box .slide:nth-child(3) .slide__value::after {
  border-color: #a1d1d1 transparent;
}
article.about .skills-box .slide__value {
  position: relative;
  width: 50px;
  height: 24px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
}
article.about .skills-box .slide__value::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 4px 4px 0;
  margin-left: -4px;
}
article.about .skills-box .slide:nth-child(1) .slider__progress {
  background-color: #d2b5de;
  width: 60%;
}
article.about .skills-box .slide:nth-child(1) .slider__progress::after {
  background-color: #d2b5de;
}
article.about .skills-box .slide:nth-child(2) .slider__progress {
  background-color: #a4acd0;
  width: 80%;
}
article.about .skills-box .slide:nth-child(2) .slider__progress::after {
  background-color: #a4acd0;
}
article.about .skills-box .slide:nth-child(3) .slider__progress {
  background-color: #a1d1d1;
  width: 50%;
}
article.about .skills-box .slide:nth-child(3) .slider__progress::after {
  background-color: #a1d1d1;
}
article.about .skills-box .slide .slider {
  width: 100%;
  margin-top: 13px;
  background-color: rgb(232, 232, 232);
}
article.about .skills-box .slide .slider__progress {
  height: 2px;
  position: relative;
}
article.about .skills-box .slide .slider__progress::after {
  content: "";
  display: block;
  position: absolute;
  right: -4px;
  top: -2.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
article.about .skills-box .slide:nth-child(1) .slide__text {
  color: #d2b5de;
}
article.about .skills-box .slide:nth-child(2) .slide__text {
  color: #a4acd0;
}
article.about .skills-box .slide:nth-child(3) .slide__text {
  color: #a1d1d1;
}
article.about .skills-box .slide__text {
  margin: 20px 0;
  text-align: left;
}
article.about .skills-box .slide__text i {
  margin-right: 8px;
}

article.projects {
  background-image: url("../photos/pattern.png");
}
article.projects .project__box {
  display: flex;
  flex-wrap: wrap;
}
article.projects .project__box .project__item {
  width: 25%;
}
@media (max-width: 768px) {
  article.projects .project__box .project__item {
    width: 50%;
  }
}
article.projects .project__box .project__item img {
  transition: 0.2s;
}
article.projects .project__box .project__item:hover img {
  cursor: pointer;
  opacity: 0.8;
}

article.blog {
  background-color: rgb(34, 47, 54);
}
article.blog .info h1 {
  color: rgb(255, 255, 255);
}
article.blog .info .btn--yellow {
  margin: 30px;
}
article.blog .posts-box {
  text-align: left;
}
article.blog .posts-box .post {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 576px) {
  article.blog .posts-box .post {
    width: 100%;
  }
}
article.blog .posts-box .post img {
  height: 200px;
}
article.blog .posts-box .post__text {
  margin: 10px;
}
article.blog .posts-box .post__text h3 {
  padding: 0;
  margin: 0;
}
article.blog .posts-box .post__text span {
  display: block;
  margin: 20px 0 0 0;
}
@media (max-width: 992px) {
  article.blog .posts-box .post__text span {
    font-size: 12px;
  }
}
article.blog .posts-box .post__text .btn--read-more {
  width: 100px;
  height: 20px;
  padding: 0;
  margin: 20px 0 0 0;
  color: rgb(248, 223, 1);
}
article.blog .posts-box .post__text .btn--read-more:hover {
  color: rgb(91, 13, 118);
}

article.counter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  padding: 20px 0;
  background-image: url(../photos/header.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  article.counter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
  }
}
article.counter:after {
  background-color: rgba(245, 217, 31, 0.714);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
article.counter .counter-single {
  margin: 10px 0;
  z-index: 200;
  color: #fff;
  width: 30%;
}
article.counter .counter-single:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
@media (max-width: 768px) {
  article.counter .counter-single:nth-child(2) {
    border: none;
  }
}
article.counter .counter-single h2 {
  font-size: 64px;
}

article.team {
  background-image: url("photos/pattern.png");
}
article.team .team-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
article.team .team-box .team-person {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 30%;
  margin: 20px 0;
}
article.team .team-box .team-person:nth-child(1) .team-person-info h4 {
  color: #d2b5de;
}
article.team .team-box .team-person:nth-child(2) .team-person-info h4 {
  color: #a4acd0;
}
article.team .team-box .team-person:nth-child(3) .team-person-info h4 {
  color: #a1d1d1;
}
article.team .team-box .team-person:nth-child(1) .team-person-info .team-person-social i {
  border: 1px solid #d2b5de;
  color: #d2b5de;
}
article.team .team-box .team-person:nth-child(2) .team-person-info .team-person-social i {
  border: 1px solid #a4acd0;
  color: #a4acd0;
}
article.team .team-box .team-person:nth-child(3) .team-person-info .team-person-social i {
  border: 1px solid #a1d1d1;
  color: #a1d1d1;
}
@media (max-width: 992px) {
  article.team .team-box .team-person {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  article.team .team-box .team-person {
    width: 100%;
    flex-direction: row;
  }
}
article.team .team-box .team-person .team-person-photo {
  height: 130px;
  margin-right: 25px;
}
@media (max-width: 992px) {
  article.team .team-box .team-person .team-person-photo {
    justify-content: center;
    width: 120px;
    height: 120px;
  }
}
article.team .team-box .team-person .team-person-photo img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
article.team .team-box .team-person .team-person-info {
  text-align: left;
}
article.team .team-box .team-person .team-person-info h3 {
  margin: 8px 0;
}
article.team .team-box .team-person .team-person-info h4 {
  font-weight: 200;
  margin: 0;
}
article.team .team-box .team-person .team-person-info p {
  color: rgb(164, 159, 159);
}
@media (max-width: 992px) {
  article.team .team-box .team-person .team-person-info p {
    font-size: 12px;
  }
}
article.team .team-box .team-person .team-person-social i {
  padding: 5px;
  font-size: 14px;
  width: 14px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

article.contact .contact-detail .contact-detail-single {
  margin: 10px 0 0 0;
  display: flex;
  width: 30%;
  text-align: left;
  color: rgb(164, 159, 159);
}
@media (max-width: 768px) {
  article.contact .contact-detail .contact-detail-single {
    margin: 5px 0;
    flex-direction: column;
    width: 100%;
  }
}
article.contact .contact-detail .contact-detail-single.social {
  justify-content: flex-end;
}
article.contact .contact-detail .contact-detail-single.social i {
  padding: 0 0 0 12px;
  cursor: pointer;
}
@media (max-width: 768px) {
  article.contact .contact-detail .contact-detail-single.social i:nth-child(1) {
    padding: 0;
  }
}
@media (max-width: 768px) {
  article.contact .contact-detail .contact-detail-single.social {
    justify-content: flex-start;
    flex-direction: row;
  }
}
article.contact .contact-detail .contact-detail-single .contact-detail-single-name {
  padding-right: 18px;
  color: #f1d204;
}
article.contact .contact-detail .contact-detail-single .contact-detail-single-value {
  width: 50%;
  padding-left: 18px;
  border-left: 1px solid rgb(164, 159, 159);
  line-height: 24px;
}
@media (max-width: 768px) {
  article.contact .contact-detail .contact-detail-single .contact-detail-single-value {
    border-left: none;
    padding-left: 0;
  }
}
article.contact .contact-form {
  text-align: left;
  width: 100%;
  color: rgb(164, 159, 159);
}
article.contact .contact-form label {
  display: block;
}
article.contact .contact-form input, article.contact .contact-form textarea {
  color: rgb(164, 159, 159);
  width: calc(100% - 18px);
  outline: none;
  padding: 8px;
  border: 1px solid rgb(164, 159, 159);
}
article.contact .contact-form .contact-form-single {
  width: 30%;
}
@media (max-width: 768px) {
  article.contact .contact-form .contact-form-single {
    margin: 5px 0;
    width: 100%;
  }
}
article.contact .contact-form .contact-form-message {
  margin: 15px 0;
  width: 100%;
}
article.contact .contact-form .contact-form-message textarea {
  resize: none;
}
article.contact .contact-form button {
  margin-left: auto;
  background-color: rgb(248, 223, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(84, 81, 81);
}

h1 {
  font-size: 46px;
  font-weight: bolder;
  margin: 20px 0 0 0;
}
@media (max-width: 768px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: bolder;
}
@media (max-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 13px;
  }
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.btn {
  width: 150px;
  height: 45px;
  background: transparent;
  color: rgb(255, 255, 255);
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  transition: 0.2s;
}
.btn--yellow {
  background-color: rgb(248, 223, 1);
}
.btn--yellow:hover {
  background-color: rgb(91, 13, 118);
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

article div.info {
  width: 60%;
}

article div p {
  color: rgb(164, 159, 159);
}

/****************/
article .box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 5% 0;
}

@media (max-width: 768px) {
  article.about .skills-box,
article.team .team-box,
article.contact .contact-form {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  article.about .skills-box .slide,
article.blog .posts-box .post,
article.team .team-box .team-person {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */