@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: rgb(84, 81, 81);
}

h1 {
  font-size: 46px;
  font-weight: bolder;
  margin: 20px 0 0 0;
}
@media (max-width: 768px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: bolder;
}
@media (max-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 13px;
  }
}

a {
  color: white;
  text-decoration: none;
}

button {
  width: 150px;
  height: 45px;
  background: transparent;
  color: white;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

article div.info {
  width: 60%;
}

article div p {
  color: rgb(164, 159, 159);
}

article .box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 5% 0;
}

@media (max-width: 768px) {
  article.about .skills-box,
article.team .team-box,
article.contact .contact-form {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  article.about .skills-box .slide,
article.blog .posts-box .post,
article.team .team-box .team-person {
    width: 100%;
  }
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../photos/header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin: 0 40px;
  align-items: center;
}
header nav .logo {
  color: white;
  font-size: 39px;
  font-weight: 900;
  align-self: flex-start;
}
header nav .navigation {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  color: white;
  list-style-type: none;
}
@media (max-width: 768px) {
  header nav .navigation {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
  }
}
header nav .navigation li {
  margin: 0 10px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
@media (max-width: 768px) {
  header nav .navigation li {
    line-height: 1.5;
  }
}
header nav .navigation li.open {
  font-size: 20px;
  visibility: hidden;
}
@media (max-width: 768px) {
  header nav .navigation li.open {
    line-height: 40px;
    visibility: visible;
  }
}
header nav .navigation li:hover a {
  color: rgb(248, 223, 1);
}
header nav .navigation li.hidden-mobile {
  visibility: visible;
}
@media (max-width: 768px) {
  header nav .navigation li.hidden-mobile {
    visibility: hidden;
  }
}
header nav .navigation li.visible-mobile {
  visibility: visible;
}
header .main-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
  margin: 0 25%;
  color: white;
  align-items: center;
  text-align: center;
}
header .main-banner span {
  color: rgb(248, 223, 1);
}
header .main-banner button.learn-more {
  background: rgba(0, 0, 0, 0.3);
  outline: 2px solid white;
  margin: 15px;
  transition: 0.2s;
}
header .main-banner button.learn-more:hover {
  background: rgba(0, 0, 0, 0);
}
header .main-banner button.download {
  background-color: rgb(248, 223, 1);
  transition: 0.2s;
}
header .main-banner button.download:hover {
  background-color: rgb(91, 13, 118);
}

article .skills-box .slide {
  width: 30%;
}
article .skills-box .slide:nth-child(1) .value {
  background-color: #d2b5de;
  left: calc(60% - 25px);
}
article .skills-box .slide:nth-child(2) .value {
  background-color: #a4acd0;
  left: calc(80% - 25px);
}
article .skills-box .slide:nth-child(3) .value {
  background-color: #a1d1d1;
  left: calc(50% - 25px);
}
article .skills-box .slide:nth-child(1) .value::after {
  border-color: #d2b5de transparent;
}
article .skills-box .slide:nth-child(2) .value::after {
  border-color: #a4acd0 transparent;
}
article .skills-box .slide:nth-child(3) .value::after {
  border-color: #a1d1d1 transparent;
}
article .skills-box .slide .value {
  width: 50px;
  height: 24px;
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
}
article .skills-box .slide .value::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 4px 4px 0;
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
}
article .skills-box .slide:nth-child(1) .slider .slider-progress {
  background-color: #d2b5de;
  width: 60%;
}
article .skills-box .slide:nth-child(2) .slider .slider-progress {
  background-color: #a4acd0;
  width: 80%;
}
article .skills-box .slide:nth-child(3) .slider .slider-progress {
  background-color: #a1d1d1;
  width: 50%;
}
article .skills-box .slide:nth-child(1) .slider .slider-progress::after {
  background-color: #d2b5de;
}
article .skills-box .slide:nth-child(2) .slider .slider-progress::after {
  background-color: #a4acd0;
}
article .skills-box .slide:nth-child(3) .slider .slider-progress::after {
  background-color: #a1d1d1;
}
article .skills-box .slide .slider {
  margin-top: 13px;
  background-color: #E8E8E8;
  width: 100%;
}
article .skills-box .slide .slider .slider-progress {
  height: 2px;
  position: relative;
}
article .skills-box .slide .slider .slider-progress::after {
  content: "";
  display: block;
  position: absolute;
  right: -4px;
  top: -2.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
article .skills-box .slide:nth-child(1) .slide-text {
  color: #d2b5de;
}
article .skills-box .slide:nth-child(2) .slide-text {
  color: #a4acd0;
}
article .skills-box .slide:nth-child(3) .slide-text {
  color: #a1d1d1;
}
article .skills-box .slide .slide-text {
  margin: 20px 0;
  text-align: left;
}
article .skills-box .slide .slide-text i {
  margin-right: 8px;
}

article.projects {
  background-image: url("photos/pattern.png");
}
article.projects .projects-box {
  display: flex;
  flex-wrap: wrap;
}
article.projects .projects-box .project {
  width: 25%;
}
@media (max-width: 768px) {
  article.projects .projects-box .project {
    width: 50%;
  }
}
article.projects .projects-box .project img {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
article.projects .projects-box .project:hover img {
  cursor: pointer;
  opacity: 0.8;
}

article.blog {
  background-color: #222f36;
}
article.blog .info h1 {
  color: #fff;
}
article.blog .info button {
  margin: 30px;
  background-color: rgb(248, 223, 1);
  transition: 0.2s;
}
article.blog .info button:hover {
  background-color: rgb(91, 13, 118);
}
article.blog .posts-box {
  text-align: left;
}
article.blog .posts-box .post {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media (max-width: 576px) {
  article.blog .posts-box .post {
    width: 100%;
  }
}
article.blog .posts-box .post img {
  width: 100%;
  height: 200px;
}
article.blog .posts-box .post .post-text {
  margin: 10px;
}
article.blog .posts-box .post .post-text h3 {
  padding: 0;
  margin: 0;
}
article.blog .posts-box .post .post-text span {
  display: block;
  margin: 20px 0 0 0;
}
@media (max-width: 992px) {
  article.blog .posts-box .post .post-text span {
    font-size: 12px;
  }
}
article.blog .posts-box .post .post-text button.read-more {
  padding: 0;
  margin: 20px 0 0 0;
  color: rgb(248, 223, 1);
  width: 100px;
  transform: 0.2;
  height: 20px;
}
article.blog .posts-box .post .post-text button.read-more:hover {
  color: rgb(91, 13, 118);
}

article.counter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 0;
  position: relative;
  background-image: url(../photos/header.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  article.counter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
  }
}
article.counter:after {
  background-color: rgba(245, 217, 31, 0.714);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
article.counter .counter-single {
  margin: 10px 0;
  z-index: 200;
  color: #fff;
  width: 30%;
}
article.counter .counter-single:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
@media (max-width: 768px) {
  article.counter .counter-single:nth-child(2) {
    border: none;
  }
}
article.counter .counter-single h2 {
  font-size: 64px;
}

article.team {
  background-image: url("photos/pattern.png");
}
article.team .team-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
article.team .team-box .team-person {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 30%;
  margin: 20px 0;
}
article.team .team-box .team-person:nth-child(1) .team-person-info h4 {
  color: #d2b5de;
}
article.team .team-box .team-person:nth-child(2) .team-person-info h4 {
  color: #a4acd0;
}
article.team .team-box .team-person:nth-child(3) .team-person-info h4 {
  color: #a1d1d1;
}
article.team .team-box .team-person:nth-child(1) .team-person-info .team-person-social i {
  border: 1px solid #d2b5de;
  color: #d2b5de;
}
article.team .team-box .team-person:nth-child(2) .team-person-info .team-person-social i {
  border: 1px solid #a4acd0;
  color: #a4acd0;
}
article.team .team-box .team-person:nth-child(3) .team-person-info .team-person-social i {
  border: 1px solid #a1d1d1;
  color: #a1d1d1;
}
@media (max-width: 768px) {
  article.team .team-box .team-person {
    width: 100%;
  }
}
article.team .team-box .team-person .team-person-photo {
  width: 150px;
  height: 130px;
  margin-right: 25px;
}
article.team .team-box .team-person .team-person-photo img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
article.team .team-box .team-person .team-person-info {
  text-align: left;
}
article.team .team-box .team-person .team-person-info h3 {
  margin: 8px 0;
}
article.team .team-box .team-person .team-person-info h4 {
  font-weight: 200;
  margin: 0;
}
article.team .team-box .team-person .team-person-info p {
  color: rgb(164, 159, 159);
}
article.team .team-box .team-person .team-person-social i {
  padding: 5px;
  font-size: 14px;
  width: 14px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */