article.contact {
    .contact-detail {
        .contact__item {
            width: 30%;
            margin: 10px 0 0 0;
            display: flex;
            text-align: left;
            color: $grey-color-paragraphs;

            @include md {
                width: 100%;
                margin: 5px 0;
                flex-direction: column;
            }

            &__name {
                padding-right: 18px;
                color: $primary-color;
            }

            &__value {
                width: 50%;
                padding-left: 18px;
                border-left: 1px solid $grey-color-paragraphs;
                line-height: 24px;

                @include md {
                    border-left: none;
                    padding-left: 0;
                }
            }
        }

        .contact__social {
            justify-content: flex-end;

            i {
                padding: 0 0 0 12px;
                cursor: pointer;

                &:nth-child(1) {
                    @include md {
                        padding: 0;
                    }
                }
            }

            @include md {
                justify-content: flex-start;
                flex-direction: row;
            }
        }
    }

    .contact-form {
        text-align: left;
        width: 100%;
        color: $grey-color-paragraphs;

        label {
            display: block; 
        }

        input, textarea {
            color: $grey-color-paragraphs;
            width: calc(100% - 18px);
            outline: none;
            padding: 8px;
            border: 1px solid $grey-color-paragraphs; 
        }

        &__item {
            width: 30%;

            @include md {
                margin: 5px 0;
                width: 100%;
            }
        }

        &__item--message {
            margin: 15px 0;
            width: 100%;

            textarea {
                resize: none;
            }
        }

        button {
            margin-left: auto;
            background-color: $primary-color;
         }
    }
}