header {
    width: 100%;
    height: 100vh;
    background-image: url(../photos/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    nav {
        @include flex(space-between, row);
        position: relative;
        margin: 0 40px;
        align-items: center;

        .logo {
            color: white;
            font-size: 39px;
            font-weight: 900;
            align-self: flex-start;
        }

        .navigation {
            @include flex(flex-start, row);
            position: absolute;
            right: 0;
            top: 0;
            align-self: flex-end;
            color: white;
            list-style-type: none;

            @include md {
                @include flex(flex-start, column);
                align-items: flex-end;
            }

            li {
                margin: 0 10px;
                color: white;
                font-weight: 500;
                font-size: 15px;
                cursor: pointer;

                @include md {
                    line-height: 1.5;
                }

                &.open {
                    font-size: 20px;
                    visibility: hidden;

                    @include md {
                        line-height: 40px;
                        visibility: visible;
                    }
                }

                &:hover a {
                    color: $primary-color;
                }

                &.hidden-mobile {
                    visibility: visible;
                    @include md {
                        visibility: hidden;
                    }
                }

                &.visible-mobile {
                    visibility: visible;
                }
            }
        }
    }

    .main-banner {
        @include flex(center, column);
        width: 50%;
        height: 80%;
        margin: 0 25%;
        color: white;
        align-items: center;
        text-align: center;

        span {
            color: $primary-color;
        }

        button.learn-more {
            background: rgba(0, 0, 0, 0.3);
            outline: 2px solid white;
            margin: 15px;
            transition: 0.2s;

            &:hover {
                background: rgba(0, 0, 0, 0);
            }
        }

        button.download {
            background-color: $primary-color;
            transition: 0.2s;

            &:hover {
                background-color: $secondary-color;
            }
        }
    }
}
