header {
    width: 100%;
    height: 100vh;
    background-image: url(../photos/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        margin: 0 40px;
        align-items: center;

        .logo {
            color: rgb(255, 255, 255);
            font-size: 39px;
            font-weight: 900;
            align-self: flex-start;
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            position: absolute;
            right: 0;
            top: 0;
            justify-content: flex-start;
            align-self: flex-end;
            color: rgb(255, 255, 255);
            list-style-type: none;

            @include md {
                flex-direction: column;
                align-items: flex-end;
            }

            &__item {
                margin: 0 10px;
                color: rgb(255, 255, 255);
                font-weight: 500;
                font-size: 15px;
                cursor: pointer;

                @include md {
                    line-height: 1.5;
                }

                &--open {
                    font-size: 20px;
                    visibility: hidden;

                    @include md {
                        line-height: 40px;
                        visibility: visible;
                    }
                }

                &:hover a {
                    color: $primary-color;
                }

                &--hidden-mobile {
                    visibility: visible;
                    @include md {
                        visibility: hidden;
                    }
                }

                &--visible-mobile {
                    visibility: visible;
                }
            }
        }
    }

    .main-banner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 80%;
        align-items: center;
        text-align: center;
        margin: 0 25%;
        color: rgb(255, 255, 255);

        span {
            color: $primary-color;
        }

        .btn {
            &--learn-more {
                background: rgba(0, 0, 0, 0.3);
                outline: 2px solid rgb(255, 255, 255);
                margin: 15px;

                &:hover {
                    background: rgba(0, 0, 0, 0);
                }
            }
        }
    }
}
