article.projects {
    background-image: url("../photos/pattern.png");

    .project__box {
        display: flex;
        flex-wrap: wrap;

        .project__item {
            width: 25%;

            @include md {
                width: 50%;
            }

            img {
                transition: .2s;
            }

            &:hover img {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}