article.team {
    background-image: url("photos/pattern.png");

    .team-box {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .team__person {
            @include team__color();
             display: flex;
            justify-content: center;
            flex-direction: row;
            width: 30%;
            margin: 20px 0; 

            @include lg {
                justify-content: center;
                flex-direction: column;
            }

            @include md {
                width: 100%;
                //justify-content: center;
                flex-direction: row;
            }

            &__photo {
                height: 130px;
                margin-right: 25px;

                @include lg {
                    justify-content: center;
                    width: 120px;
                    height: 120px;
                }

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }

            &__info {
                text-align: left;

                h3 {
                    margin: 8px 0;
                }

                h4 {
                    font-weight: 200;
                    margin: 0;
                }

                p {
                    color: $grey-color-paragraphs;

                    @include lg {
                        font-size: 12px;
                    }
                }
            }

            &__social i{
                padding: 5px;
                font-size: 14px;
                width: 14px;
                text-align: center;
                border-radius: 50%;
                cursor: pointer;
            }
        } 
    }
}
