article.team {
    background-image: url("photos/pattern.png");


    .team-box {
        @include flex(space-between, row);

        .team-person {
            @include flex(center, row);
            @include team-color('.team-person-info h4');
            @include team-color('.team-person-info .team-person-social i');
            width: 30%;
            margin: 20px 0; 

            @include md {
                width: 100%;
            }

            .team-person-photo {
                width: 150px;
                height: 130px;
                margin-right: 25px;

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }

            .team-person-info {
                text-align: left;

                h3 {
                    margin: 8px 0;
                }

                h4 {
                    font-weight: 200;
                    margin: 0;
                }

                p {
                    color: rgb(164, 159, 159);
                }
            }

            .team-person-social i{
                padding: 5px;
                font-size: 14px;
                width: 14px;
                text-align: center;
                border-radius: 50%;
                cursor: pointer;
            }
        } 
    }
}
