@use "sass:map";

@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}
 
 @mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}
 
 @mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}
 
 @mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}

@mixin flex($justify-content, $flex-direction) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@mixin slide__value {
    @each $i, $skill in $skills-values {
        &:nth-child(#{$i}) .slide__value {
            background-color: map.get($skill, color);
            left: calc(map.get($skill, width) - 25px);
        }

        &:nth-child(#{$i}) .slide__value::after {
            border-color: map.get($skill, color) transparent;
        }
    }
}

@mixin slider__progress {
    @each $i, $skill in $skills-values {
        &:nth-child(#{$i}) .slider__progress {
            background-color: map.get($skill, color);
            width: map.get($skill, width);
        }

        &:nth-child(#{$i}) .slider__progress::after {
            background-color: map.get($skill, color);
        }
    }
}

@mixin slide__text {
    @each $i, $skill in $skills-values {
        &:nth-child(#{$i}) .slide__text {
            color: map.get($skill, color);
        }
    }
}



@mixin team-color($selectors) {
    @each $i in (1,2,3) {
        &:nth-child(#{$i}) #{$selectors} {
            @if $i == 1 {
                @if #{$selectors} == '.team-person-info .team-person-social i' {
                    border: 1px solid $skills-first-color;
                }
                color: $skills-first-color;
            } @else if $i == 2 {
                @if #{$selectors} == '.team-person-info .team-person-social i' {
                    border: 1px solid $skills-second-color;
                }
                color: $skills-second-color;
            } @else if $i == 3 {
                @if #{$selectors} == '.team-person-info .team-person-social i' {
                    border: 1px solid $skills-third-color;
                }
                color: $skills-third-color;
            }

        }
    }
}
