$primary-color: rgb(248, 223, 1);
$secondary-color: rgb(91, 13, 118);
$grey-color-headings: rgb(84, 81, 81);
$grey-color-paragraphs: rgb(164, 159, 159);
//$border-dark: rgba($base-color, 0.88);

$skills-first-color: #d2b5de;
$skills-second-color: #a4acd0;;
$skills-third-color: #a1d1d1;

$skills-values: (
    1: (color: $skills-first-color, width: 60%),
    2: (color: $skills-second-color, width: 80%),
    3: (color: $skills-third-color, width: 50%)
);

$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;

$margin-x: 10%;




